.body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.publish-btn{
    float:right;
    margin-bottom: 15px;
}
.picture{
    width: 38px;
    height: 38px;
}
.text_description{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}