<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script href="js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script href="js/bootstrap.min.js" type="application/javascript"></script>
    <title>JAVA学习社区</title>
</head>
<body class="body">
<div th:insert="~{head :: header}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded picture" th:src="${question.user.avatar_url}" src="..." alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span th:text="${question.title}"></span></h4>
                    <span class="text_description" th:text="${question.commentCount}"></span>个回复 •
                    <span class="text_description" th:text="${question.viewCount}"></span>次浏览 •
                    <span class="text_description" th:text="${#dates.format(question.gmtCreated,'yyyy/MM/dd')}"></span>

                </div>
            </div>
            <nav aria-label="Page navigation" style="float:right">
                <ul class="pagination">
                    <li>
                        <a href="" th:href="@{'/index?page=1&pageSize=8'}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:class="${pageInfo.pageNum -1 < 1}? 'disabled' : ''">
                        <a href="#" th:if="${pageInfo.pageNum != 1 }" th:href="@{'/index?page='+${pageInfo.pageNum -1}+'&pageSize=8'}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a href="#" th:if="${pageInfo.pageNum == 1 }" th:href="@{'/index?page=1&pageSize=8'}" aria-label="Previous">N
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page:${#numbers.sequence(1,pageInfo.pages)}" th:class="${pageInfo.pageNum == page} ? 'active' : ''">
                        <a href="#" th:href="@{'/index?page='+${page}+'&pageSize=8'}" th:text="${page}"></a>
                    </li>

                    <li th:class="${pageInfo.pageNum +1 > pageInfo.pages}? 'disabled' : ''">
                        <a href="#" th:if="${pageInfo.pageNum == pageInfo.pages}" th:href="@{'/index?page='+${pageInfo.pageNum}+'&pageSize=8'}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a href="#" th:if="${pageInfo.pageNum != pageInfo.pages}" th:href="@{'/index?page='+${pageInfo.pageNum +1}+'&pageSize=8'}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li>
                        <a href="" th:href="@{'/index?page='+${pageInfo.pages}+'&pageSize=8'}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>